https://github.com/Artahlil/CS412-Full-Stack-Application-Design-and-Development.gitdoctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
